:root {
  /* fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* text color */
  --main-txt-clr: #212121;
  --secondary-txt-clr: #757575;
  --light-txt-clr: #ffffff;
  --accent-clr: #2196f3;
  --icon-color: #afb1b8;
  /* bg colors */
  --dark-bg-clr: #2f303a;
  --light-bg-clr: #f5f4fa;
  /* others */
  --indent: 30px;
  --items: 3;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
