.feature {
  @extend %section;
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}
.feature__container {
  @extend %container;
  @media screen and (min-width: 768px) {
    --items: 2;
  }
  @media screen and (min-width: 1200px) {
    --items: 4;
  }
}
.feature__list {
  @extend %reset-list;
}
.feature__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
.feature__box-icon {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;

  border-radius: 4px;

  background-color: var(--light-bg-clr);
}
.feature__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.feature__subtitle {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    text-align: unset;
  }
}
