.address__list {
  @extend %reset-list;
}
.address__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}
.address__link {
  @extend %reset-link;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  @include line-height(24, 14);
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--timing-function);

  &--white-txt {
    color: var(--light-txt-clr);
  }
  &:hover,
  &:focus {
    color: var(--accent-clr);
  }
}
