.distribution {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.distribution__subtitle {
  display: block;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    text-align: unset;
  }
}
.distribution__input {
  width: 450px;
  height: 50px;

  margin-bottom: 20px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: transparent;

  color: var(--light-txt-clr);
  background-color: transparent;

  &:placeholder-shown {
    padding-left: 16px;
  }
  &:not(:placeholder-shown) {
    border-color: #fff;
  }
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.distribution__btn {
  display: flex;

  margin-left: auto;
  margin-right: auto;

  gap: 12px;
  padding: 10px 28px 10px 31px;

  @media screen and (min-width: 1200px) {
    display: inline-flex;
    margin-left: 0;
    margin-right: 0;
    gap: 10px;
    padding: 10px 28px;
  }
}
