.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(1turn) scale(1);

  width: 450px;
  max-width: 100%;
  height: 609px;
  padding: 40px;
  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  opacity: 1;

  transition: transform 400ms var(--timing-function), opacity 250ms var(--timing-function),
    scale 250ms var(--timing-function);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) rotate(0) scale(0);
    opacity: 0;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}
.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  cursor: pointer;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-clr);
  }
}
