.register-form {
  text-align: center;
}
.register-form__title {
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
  @include line-height(30, 20);

  @media screen and (min-width: 1200px) {
    @include line-height(23, 20);
  }
}
.register-form__group {
  margin-bottom: 20px;
}
.register-form__wrap {
  position: relative;
  display: block;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}
.register-form__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;

  font-size: 12px;
  @include line-height(14, 12);

  letter-spacing: 0.01em;

  color: var(--secondary-txt-clr);
}
.register-form__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);

  padding: 10px;
  padding-left: 50px;
  border-radius: 4px;

  outline: transparent;

  transition: border 250ms var(--timing-function);

  &:focus {
    border: 1px solid var(--accent-clr);
  }
}
.register-form__message {
  width: 100%;
  padding: 12px 16px;
  height: 120px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: transparent;

  transition: border 250ms var(--timing-function);

  &::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border: 1px solid var(--accent-clr);
  }
}
.register-form__icon {
  position: absolute;
  bottom: 10px;
  left: 15px;

  transition: fill 250ms var(--timing-function);

  .register-form__input:focus + & {
    fill: var(--accent-clr);
  }
}
.register-form__agreement {
  display: flex;
  align-items: center;

  gap: 8px;
  margin-bottom: 31px;
  @media screen and (min-width: 1200px) {
    justify-content: center;
    margin-bottom: 30px;
  }
}
.register-form__uncheck {
  .register-form__checkbox:checked + .register-form__icon-audit & {
    opacity: 0;
    transition: opacity 250ms var(--timing-function);
  }
}
.register-form__check {
  opacity: 0;
  fill: var(--accent-clr);
  transition: opacity 250ms var(--timing-function);

  .register-form__checkbox:checked + .register-form__icon-audit & {
    opacity: 1;
  }
}
.register-form__txt {
  user-select: none;
  text-underline-position: under;

  font-size: 12px;
  @include line-height(14, 12);
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    @include line-height(24, 14);
  }
}
.register-form__link {
  @extend %reset-link;

  text-decoration: underline;
  color: var(--accent-clr);
}
.register-form__btn {
  display: inline-flex;

  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;

  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
