.social__list {
  @extend %reset-list;

  display: flex;
  justify-content: center;
  gap: 10px;
}
.social__link {
  @extend %reset-link;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: var(--icon-color);

  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);

  &--dark-bg {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--light-txt-clr);
  }
  &:hover,
  &:focus {
    fill: var(--light-txt-clr);
    background-color: var(--accent-clr);
  }
}
