.title {
  font-family: var(--main-font);
  font-size: 28px;
  @include line-height(33, 28);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-txt-clr);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    @include line-height(42, 36);
  }
}
.subtitle {
  font-family: var(--main-font);
  font-size: 14px;
  @include line-height(16, 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-txt-clr);

  &--light-txt {
    color: var(--light-txt-clr);
  }
}
